* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --orange: #ff7143;
  --blue: #5454d4;
  --background: #f9f8fe;
}

body {
  font-family: "Archivo", sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 80px 0;
}

.container--hero {
  padding: 0;
}

/* Modal */

.modal {
  background-color: #2337cba2;
  position: absolute;
  inset: 0;
  min-height: 600px;

  display: grid;
  place-items: center;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;

  transition: 1s opacity;
}

.modal--visible {
  opacity: 1;
  pointer-events: unset;
}

.modal__container {
  position: relative;
  width: 90%;
  max-width: 900px;
  height: 90%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 2rem 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.modal__close {
  display: block;
  position: absolute;
  background-color: red;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 50%;
  top: -10px;
  right: -10px;
}

.modal__texts {
  text-align: center;
}

.modal__title {
  font-size: 2rem;
  color: #1e293b;
}

.modal__paragraph {
  line-height: 1.5;
  width: 90%;
  margin: 1rem auto;

  color: #434343;
}

.modal__cta {
  background-color: #4338ca;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-weight: bold;
}

.modal__messages {
  font-weight: bold;
  color: #000;
  font-size: 1.1rem;
}

.modal__hostinger {
  width: 80%;

  max-width: 400px;
  display: block;
  margin: 0 auto;
}

/* Menú */

.nav {
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__menu {
  background-color: #ff7143;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  border-radius: 5px;
}

.nav__list {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #5454d4;
  padding: 80px 0;

  display: grid;
  place-content: center;
  text-align: center;
  gap: 2.5rem;

  list-style: none;

  transform: translate(-100%);
  transition: transform 0.3s;
}

.nav__list--show {
  transform: translate(0);
}

.nav__link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

/* hero-main */

.hero__main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero__figure {
  order: -1;
  padding: 20px 0;
}

.hero__img {
  width: 100%;
  display: block;
  max-width: 400px;
  margin: 0 auto;
}

.hero__texts {
  display: grid;
  gap: 1.5rem;
  text-align: center;
  padding-bottom: 70px;
}

.hero__title {
  font-size: 3rem;
}

.hero__paragraph {
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.hero__cta {
  background-color: #5454d4;
  color: #fff;
  text-decoration: none;
  padding: 1em 3em;

  justify-self: center;
  border-radius: 6px;
}

/* about */

.about {
  background-color: #f9f8fe;
}

.about__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about__img {
  display: block;
  margin: 0 auto;
  width: 90%;
  aspect-ratio: 1/1;
  max-width: 280px;
  object-fit: cover;
  object-position: top;

  border-radius: 50%;
}

.about__texts {
  text-align: center;
  display: grid;
  gap: 1.5rem;
}

.subtitle {
  text-align: center;
  font-size: 2.1rem;
}

.paragraph {
  line-height: 1.5;
  font-weight: 300;
}

/* learn */

.learn__articles {
  margin-top: 3rem;
  display: grid;
  gap: 3rem;
}

.learn__article {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;

  display: grid;
  gap: 1rem;
}

.learn__img {
  display: block;
  margin: 0 auto;
  max-width: 250px;
  width: 60%;
}

/* sponsor */

.sponsor {
  background-color: #f9f8fe;
  text-align: center;
}

.sponsor__img {
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  display: block;
}

.sponsor__texts {
  display: grid;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.sponsor__cta {
  background-color: #5454d4;
  color: #fff;
  padding: 1em 3em;
  text-decoration: none;

  justify-self: center;

  text-align: center;

  border-radius: 6px;
  font-weight: 700;
}

/* statistics */

.statistics {
  background-image: linear-gradient(#19181bc0, #171719e3),
    url("../../../../assets/img/icono.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}

.statistics__container {
  display: grid;
  gap: 2.5rem;
}

.statistics__item {
  width: 90%;
  margin: 0 auto;
  max-width: 400px;
}

.statistics__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.statistics__cta {
  background-color: #ff7143;
  text-decoration: none;
  color: #fff;
  padding: 1rem 3rem;

  justify-self: center;
  border-radius: 6px;
  font-weight: 700;
}

/* footer */

.footer {
  background-color: #f9f8fe;
}

.footer__contact {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin-top: 3rem;
}

.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color);
}

.footer__item:nth-of-type(1) {
  --color: #1da1f2;
}

.footer__item:nth-of-type(2) {
  --color: #c32aa3;
}

.footer__item:nth-of-type(3) {
  --color: #ff0000;
}

.footer__img {
  width: 28px;
}

@media (min-width: 768px) {
  .modal__container {
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
    flex-direction: row;
  }

  .modal__texts {
    text-align: left;
    width: 60%;
  }

  .modal__title {
    font-size: 2.5rem;
  }

  .modal__paragraph {
    width: 100%;
    margin: 1.3rem auto;
  }

  .modal__cta {
    background-color: #4338ca;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 10px;
  }

  .modal__messages {
    font-weight: bold;
    color: #000;
    font-size: 1.1rem;
  }

  .modal__hostinger {
    width: 80%;

    max-width: 400px;
    display: block;
    margin: 0 auto;
  }

  .nav__menu {
    display: none;
  }

  .nav__list {
    position: static;
    background-color: transparent;
    padding: 0;

    display: flex;
    gap: 2rem;

    list-style: none;

    transform: unset;
    transition: none;
  }

  .nav__list--show {
    transform: unset;
  }

  .nav__link {
    color: #ff7143;
  }

  /* hero-main */

  .hero__main {
    flex-direction: row;
    gap: 40px;
    min-height: 550px;
    align-items: center;
  }

  .hero__figure {
    order: 0;
    padding: 0;
    width: 46%;
  }

  .hero__img {
    max-width: 450px;
  }

  .hero__texts {
    width: 54%;
    text-align: start;
    gap: 2rem;
    padding-bottom: 0;
  }

  .hero__title {
    font-size: 3rem;
  }

  .hero__paragraph {
    margin-bottom: 0;
  }

  .hero__cta {
    justify-self: start;
  }

  /* about */

  .about__container {
    flex-direction: row;
  }

  .about__figure {
    width: 30%;
  }

  .about__img {
    width: 100%;
  }

  .about__texts {
    width: 70%;
    text-align: start;
    place-content: center;
  }

  .subtitle {
    text-align: inherit;
    font-size: 2.5rem;
  }

  /* learn */

  .learn {
    text-align: center;
  }

  .learn__articles {
    gap: 2rem;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }

  .learn__article {
    gap: 1.5rem;
  }

  /* sponsor */

  .sponsor {
    text-align: start;
  }

  .sponsor__main {
    display: flex;
    gap: 3rem;
    align-items: center;
  }

  .sponsor__figure {
    width: 45%;
  }

  .sponsor__img {
    max-width: 400px;
  }

  .sponsor__texts {
    width: 55%;
    place-content: center;
    margin-bottom: 0;
  }

  .sponsor__cta {
    justify-self: start;
  }

  /* statistics */

  .statistics__title {
    font-size: 4.5rem;
  }

  /* footer */

  .footer {
    text-align: center;
  }
}

/*-----------------------------------*\
 * style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */

/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
time,
span,
input,
label,
select,
button,
textarea,
ion-icon {
  display: block;
}

input,
button,
select,
textarea {
  background: none;
  border: none;
  font: inherit;
}

button,
select {
  cursor: pointer;
}

input,
textarea {
  width: 100%;
}

ion-icon {
  pointer-events: none;
}

:is(a, button, select) {
  outline-color: hsl(13, 96%, 47%);
  outline-offset: 3px;
}

::selection {
  background: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
}

html {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: hsl(0, 0%, 100%);
  transition: 0.25s ease-in-out;
}

body.active {
  overflow: hidden;
}
/*-----------------------------------*\
 * #REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline: 10px;
}

.h1 {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 400;
}

.h2,
.h3,
.h4 {
  color: hsl(0, 5%, 7%);
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
}

.h2 {
  font-size: calc(1.813rem + 1vw);
}

.h3 {
  font-size: calc(1.313rem + 1vw);
}

.h4 {
  font-size: 1rem;
}

.w-100 {
  width: 100%;
}

.btn {
  max-width: max-content;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: 0.25s ease-in-out;
}

.btn-primary {
  border-color: hsl(0, 0%, 100%);
}

.btn-primary:is(:hover, :focus) {
  background: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 100%);
}

.btn-secondary {
  background: hsl(24, 74%, 58%);
  border-color: hsl(24, 74%, 58%);
  color: hsl(0, 0%, 0%);
}

.btn-secondary:is(:hover, :focus) {
  --raw-seinna: hsl(24, 74%, 64%);
}

.section-subtitle {
  position: relative;
  color: hsl(0, 0%, 62%);
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.section-subtitle::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 60px;
  height: 2px;
  background: hsl(0, 0%, 62%);
}

.section-title {
  max-width: 350px;
  margin-bottom: 30px;
}

.section-text {
  color: hsl(0, 0%, 62%);
  line-height: 1.8;
  margin-bottom: 30px;
}

.tooltip {
  position: absolute;
  top: -40px;
  background: hsl(24, 74%, 58%);
  min-width: max-content;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: 10px 10px 40px hsla(0, 0%, 0%, 0.1);
  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-in-out;
  z-index: 1;
}
/*-----------------------------------*\
 * #CONTACT
\*-----------------------------------*/

.contact {
  padding-block: 80px;
}

.contact-content {
  margin-bottom: 50px;
}

.contact-list-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 20px;
}

.contact-item-icon {
  font-size: 25px;
  color: hsl(0, 0%, 100%);
}

.contact-item-icon ion-icon {
  --ionicon-stroke-width: 40px;
}

.contact-item-title {
  margin-bottom: 10px;
}

.contact-list-item .contact-info {
  color: hsl(0, 0%, 37%);
  font-style: normal;
  line-height: 1.6;
  transition: 0.25s ease-in-out;
}

.contact-info:not(address):is(:hover, :focus) {
  color: hsl(0, 0%, 100%);
}

.contac-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-inline: 40px;
}

.contact-social-link {
  position: relative;
  background: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 12%);
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transition: 0.25s ease-in-out;
}

.contact-social-link:is(:hover, :focus) {
  background: hsl(24, 74%, 58%);
  color: #fff;
}

.contact-social-link:is(:hover, :focus) .tooltip {
  transform: translateY(0);
  opacity: 1;
}

.contact-form {
  background: hsl(0, 0%, 19%);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 10px 10px 40px hsla(0, 0%, 0%, 0.4);
}

.form-wrapper {
  margin-bottom: 25px;
}

.form-label {
  color: hsl(0, 0%, 100%);
  font-size: 0.75rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 8px;
  margin-left: 5px;
}

.input-wrapper {
  position: relative;
}

.input-field {
  background: hsl(0, 0%, 93%);
  color: hsl(24, 74%, 58%);
  padding: 10px;
  padding-left: 40px;
  border-radius: 12px;
  transition: 0.25s ease-in-out;
}

.input-wrapper ion-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  color: hsl(0, 0%, 37%);
  font-size: 20px;
  transition: 0.25s ease-in-out;
}

textarea.input-field {
  min-height: 60px;
  height: 120px;
  max-height: 200px;
  resize: vertical;
}

.input-field:focus {
  outline: 1px solid;
}

.input-field:focus + ion-icon {
  color: hsl(24, 74%, 58%);
}

.contact .btn-primary {
  max-width: unset;
  width: 100%;
  background: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 12%);
}

/*-----------------------------------*\
 * #CONTACT
\*-----------------------------------*/

.contact {
  padding-block: 80px;
}

.contact-content {
  margin-bottom: 50px;
}

.contact-list-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 20px;
}

.contact-item-icon {
  font-size: 25px;
  color: hsl(0, 0%, 100%);
}

.contact-item-icon ion-icon {
  --ionicon-stroke-width: 40px;
}

.contact-item-title {
  margin-bottom: 10px;
}

.contact-list-item .contact-info {
  color: hsl(0, 0%, 62%);
  font-style: normal;
  line-height: 1.6;
  transition: 0.25s ease-in-out;
}

.contact-info:not(address):is(:hover, :focus) {
  color: hsl(0, 0%, 100%);
}

.contac-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-inline: 40px;
}

.contact-social-link {
  position: relative;
  background: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 12%);
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transition: 0.25s ease-in-out;
}

.contact-social-link:is(:hover, :focus) {
  background: hsl(24, 74%, 58%);
  color: #fff;
}

.contact-social-link:is(:hover, :focus) .tooltip {
  transform: translateY(0);
  opacity: 1;
}

.contact-form {
  background: hsl(0, 0%, 19%);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 10px 10px 40px hsla(0, 0%, 0%, 0.4);
}

.form-wrapper {
  margin-bottom: 25px;
}

.form-label {
  color: hsl(0, 0%, 100%);
  font-size: 0.75rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 8px;
  margin-left: 5px;
}

.input-wrapper {
  position: relative;
}

.input-field {
  background: hsl(0, 0%, 93%);
  color: hsl(24, 74%, 58%);
  padding: 10px;
  padding-left: 40px;
  border-radius: 12px;
  transition: 0.25s ease-in-out;
}

.input-wrapper ion-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  color: hsl(0, 0%, 37%);
  font-size: 20px;
  transition: 0.25s ease-in-out;
}

textarea.input-field {
  min-height: 60px;
  height: 120px;
  max-height: 200px;
  resize: vertical;
}

.input-field:focus {
  outline: 1px solid;
}

.input-field:focus + ion-icon {
  color: hsl(24, 74%, 58%);
}

.contact .btn-primary {
  max-width: unset;
  width: 100%;
  background: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 12%);
}

/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 550px screen
 */

@media (min-width: 550px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 550px;
    margin-inline: auto;
  }

  .section-title {
    max-width: 380px;
  }
}

/**
 * responsive for larger than 768px screen
 */

@media (min-width: 768px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 720px;
  }

  .section-title {
    max-width: 430px;
  }

  /**
   * CONTACT
   */

  .contact-form {
    max-width: 450px;
    margin-inline: auto;
  }
}

/**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 980px;
  }

  .section-content {
    position: relative;
    padding-left: 90px;
  }

  .section-subtitle {
    position: absolute;
    top: 0;
    left: 20px; /* Ajusta el valor del margen izquierdo según tus necesidades */
    transform: rotate(0.75turn) translateX(-100%);
    transform-origin: left top;
    margin-bottom: 0;
  }

  .section-subtitle::after {
    top: 8px;
    left: auto;
    right: calc(100% + 20px);
  }

  /**
   * SKILLS
   */

  .skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
  }

  .skills-content {
    margin-bottom: 0;
  }

  .skills-toggle {
    margin-inline: 0;
  }
}

/* ESTO COLOCA CORRECTAMENTE EL FORM  */
/**
   * CONTACT
   */

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.contact-content {
  margin-bottom: 0;
}

.contact-form {
  width: 100%;
}

.contact-list {
  margin-left: -40px;
}

/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1150px;
  }

  .section-title {
    max-width: 460px;
  }
}
