<section class="modal">
  <div class="modal__container">
    <article class="modal__texts">
      <h2 class="modal__title">¿Piensas subir tu proyecto a internet?</h2>
      <p class="modal__paragraph">
        Te recomiendo Hostinger,
        <span class="modal__messages"
          >Utiliza el cupón ALEXCG en mayúsculas para obtener hasta 68% de
          DESCUENTO!</span
        >
      </p>
      <a href="https://hostinger.com/alexcg" class="modal__cta"
        >Ingresa a Hostinger</a
      >
    </article>

    <figure class="modal__figure">
      <img src="./assets/promo-host.svg" class="modal__hostinger" />
    </figure>

    <button class="modal__close">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        style="fill: #fff"
      >
        <path
          d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"
        ></path>
      </svg>
    </button>
  </div>
</section>

<header class="hero">
  <nav class="nav container container--hero">
    <img src="./assets/logo.svg" class="nav__logo" />

    <ul class="nav__list">
      <li class="nav__item">
        <a href="#nosotros" class="nav__link">Sobre Nosotros</a>
      </li>
      <li class="nav__item">
        <a href="#aprender" class="nav__link">¿Qué aprenderé?</a>
      </li>
      <li class="nav__item">
        <a href="#sponsor" class="nav__link">Sponsor</a>
      </li>
      <li class="nav__item">
        <a href="#footer" class="nav__link">Contacto</a>
      </li>
    </ul>

    <img src="../../../../assets/img/ICON.ico" class="nav__menu" />
  </nav>

  <section class="hero__main container container--hero">
    <article class="hero__texts">
      <h1 class="hero__title">¡Domina CSS desde CERO!</h1>
      <p class="hero__paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
        voluptates necessitatibus dolor obcaecati, ea magni.
      </p>
      <a href="https://alexcgdesign.com/cursocss" class="hero__cta"
        >Empieza el curso.</a
      >
    </article>

    <figure class="hero__figure">
      <img src="./assets/hero-img.png" class="hero__img" />
    </figure>
  </section>
</header>

<main class="main">
  <section class="about" id="nosotros">
    <article class="about__container container">
      <figure class="about__figure">
        <img src="./assets/imagen-jordan.png" class="about__img" />
      </figure>

      <div class="about__texts">
        <h2 class="subtitle">Hola, Soy Jordan, Tu Instructor.</h2>
        <p class="paragraph">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea doloribus
          unde alias rerum amet veniam.
        </p>
      </div>
    </article>
  </section>

  <section class="learn container" id="aprender">
    <h2 class="subtitle">¿Qué aprenderé en el curso?</h2>

    <div class="learn__articles">
      <article class="learn__article">
        <img src="./assets/laptop-illustration.png" class="learn__img" />
        <h2 class="learn__title">Crear cualquier sitio web.</h2>
        <p class="paragraph">
          Aprende a crear el diseño de cualquier sitio web con CSS.
        </p>
      </article>

      <article class="learn__article">
        <img src="./assets/search-ilustration.png" class="learn__img" />
        <h2 class="learn__title">¡Sube tu sitio web a internet!</h2>
        <p class="paragraph">
          Al final del curso subiremos nuestro sitio web a internet, para que
          accedas a el desde cualquier lugar del mundo.
        </p>
      </article>

      <article class="learn__article">
        <img src="./assets/computer-illustration.png" class="learn__img" />
        <h2 class="learn__title">¡Responsive Design!</h2>
        <p class="paragraph">
          Aprenderás a adaptar todas tus páginas a dispositivos móviles, para
          que se vean genial en cualquier dispotivo.
        </p>
      </article>
    </div>
  </section>

  <section class="sponsor" id="sponsor">
    <div class="sponsor__main container">
      <article class="sponsor__texts">
        <h1 class="subtitle">¡Hostinger Sponsor oficial!</h1>
        <p class="paragraph">
          Este curso es patrocinado por Hostinger, si quieres tener tu sitio web
          en Hostinger al mejor precio, da click en el enlace de abajo e ingresa
          el código "ALEXCG" en mayusculas.
        </p>
        <a href="https://hostinger.com/alexcg" class="sponsor__cta"
          >Accede a Hostinger</a
        >
      </article>

      <figure class="sponsor__figure">
        <img src="./assets/hostinger-ilustration.svg" class="sponsor__img" />
      </figure>
    </div>
  </section>

  <section class="statistics">
    <div class="statistics__container container">
      <article class="statistics__item">
        <h3 class="statistics__title">+4,700</h3>
        <p class="paragraph">Estudiantes, han aprendido CSS desde CERO.</p>
      </article>

      <article class="statistics__item">
        <h3 class="statistics__title">25 HRS.</h3>
        <p class="paragraph">El curso tiene una duración de más de 25 horas.</p>
      </article>

      <article class="statistics__item">
        <h3 class="statistics__title">807</h3>
        <p class="paragraph">
          Estas han sido las reseñas hacía el curso, teniendo un promedio de 4.7
          estrellas de 5.
        </p>
      </article>

      <a href="https://alexcgdesign.com/cursocss" class="statistics__cta"
        >Ingresa Ahora</a
      >
    </div>
  </section>

  <section class="contact" id="contact">
    <div class="contact-content section-content">
      <p class="section-subtitle">Contact</p>

      <h2 class="h3 section-title">
        Have You Any Project? Please Drop a Message
      </h2>

      <p class="section-text">
        Get in touch and let me know how i can help. Fill out the form and i’ll
        be in touch as soon as possible.
      </p>

      <ul class="contact-list">
        <li class="contact-list-item">
          <div class="contact-item-icon">
            <!-- <ion-icon name="location-outline"></ion-icon> -->
          </div>

          <div class="wrapper">
            <h3 class="h4 contact-item-title">Address:</h3>

            <address class="contact-info">
              941 Saqrqorish Road, alandalos, grnata, wa 47122-4194
            </address>
          </div>
        </li>

        <li class="contact-list-item">
          <div class="contact-item-icon">
            <!-- <ion-icon name="call-outline"></ion-icon> -->
          </div>

          <div class="wrapper">
            <h3 class="h4 contact-item-title">Phone:</h3>

            <a href="tel:01234567789" class="contact-info">(01) 234 567 789</a>

            <a href="tel:09765432200" class="contact-info">(09) 765 432 200</a>
          </div>
        </li>

        <li class="contact-list-item">
          <div class="contact-item-icon">
            <!-- <ion-icon name="mail-outline"></ion-icon> -->
          </div>

          <div class="wrapper">
            <h3 class="h4 contact-item-title">Email:</h3>

            <a href="mailto:info@jack.com" class="contact-info"
              >info@jack.com</a
            >

            <a href="mailto:support@jack.com" class="contact-info"
              >support@jack.com</a
            >
          </div>
        </li>

        <li>
          <ul class="contac-social-list">
            <li>
              <a href="#" class="contact-social-link">
                <div class="tooltip">Facebook</div>

                <!-- <ion-icon name="logo-facebook"></ion-icon> -->
              </a>
            </li>

            <li>
              <a href="#" class="contact-social-link">
                <div class="tooltip">Twitter</div>

                <!-- <ion-icon name="logo-twitter"></ion-icon> -->
              </a>
            </li>

            <li>
              <a href="#" class="contact-social-link">
                <div class="tooltip">Linkedin</div>

                <!-- <ion-icon name="logo-linkedin"></ion-icon> -->
              </a>
            </li>

            <li>
              <a href="#" class="contact-social-link">
                <div class="tooltip">Youtube</div>

                <!-- <ion-icon name="logo-youtube"></ion-icon> -->
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <form action="" class="contact-form">
      <div class="form-wrapper">
        <label for="name" class="form-label">Name</label>

        <div class="input-wrapper">
          <input
            type="text"
            name="name"
            id="name"
            required
            placeholder="e.g John Doe"
            class="input-field"
          />

          <!-- <ion-icon name="person-circle"></ion-icon> -->
        </div>
      </div>

      <div class="form-wrapper">
        <label for="email" class="form-label">Email</label>

        <div class="input-wrapper">
          <input
            type="email"
            name="email"
            id="email"
            required
            placeholder="e.g johndoe@mail.com"
            class="input-field"
          />

          <!-- <ion-icon name="mail"></ion-icon> -->
        </div>
      </div>

      <div class="form-wrapper">
        <label for="phone" class="form-label">Phone</label>

        <div class="input-wrapper">
          <input
            type="tel"
            name="phone"
            id="phone"
            required
            placeholder="Phone Number"
            class="input-field"
          />

          <!-- <ion-icon name="call"></ion-icon> -->
        </div>
      </div>

      <div class="form-wrapper">
        <label for="message" class="form-label">Message</label>

        <div class="input-wrapper">
          <textarea
            name="message"
            id="message"
            required
            placeholder="Write message..."
            class="input-field"
          ></textarea>

          <!-- <ion-icon name="chatbubbles"></ion-icon> -->
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Send</button>
    </form>
  </section>
</main>

<!-- 
        - #CONTACT
      -->

<footer class="footer" id="footer">
  <section class="footer__container container">
    <h2 class="subtitle">¡Hecho con 💜 por &copy; AlexCG Design!</h2>

    <ul class="footer__contact">
      <li class="footer__item">
        <a href="#" class="footer__link">
          <img src="./assets/twitter.svg" class="footer__img" />
        </a>
      </li>

      <li class="footer__item">
        <a href="#" class="footer__link">
          <img src="./assets/instagram.svg" class="footer__img" />
        </a>
      </li>

      <li class="footer__item">
        <a href="#" class="footer__link">
          <img src="./assets/youtube.svg" class="footer__img" />
        </a>
      </li>
    </ul>
  </section>
</footer>
