<header class="hero l-header">
  <nav class="nav container">
    <figure class="nav__figure">
      <img src="../../../../assets/img/Hydropad.png" class="nav__logo" />
    </figure>

    <div class="nav__hamburguer">
      <img src="../../../../assets/img/ICON.ico" class="nav__button" />
    </div>

    <div class="nav__container">
      <ul class="nav__list container">
        <li class="nav__element">
          <a class="nav__link" (click)="scrollToSectionDesplzamiento('#home')"
            >Home</a
          >
        </li>
        <li class="nav__element">
          <a (click)="scrollToSectionDesplzamiento('#about')" class="nav__link"
            >Sobre Nosotros</a
          >
        </li>
        <li class="nav__element">
          <a
            (click)="scrollToSectionDesplzamiento('#hallazgoClaves')"
            class="nav__link"
            >Hallazgos Claves
          </a>
        </li>

        <li class="nav__element">
          <a
            (click)="scrollToSectionDesplzamiento('#services')"
            class="nav__link"
            >Servicios</a
          >
        </li>

        <li class="nav__element">
          <a
            (click)="scrollToSectionDesplzamiento('#creadores')"
            class="nav__link"
            >Creadores</a
          >
        </li>
        <li class="nav__element">
          <a
            (click)="scrollToSectionDesplzamiento('#contact')"
            class="nav__link"
            >Contactos</a
          >
        </li>

        <li class="nav__element">
          <a routerLink="/auth/login" class="nav__link nav__link--last"
            >Login</a
          >
        </li>
      </ul>

      <div class="nav__social">
        <a href="#" class="nav__media">
          <img src="./images/icon-facebook.svg" class="nav__socialme" />
        </a>

        <a href="#" class="nav__media">
          <img src="./images/icon-twitter.svg" class="nav__socialme" />
        </a>
      </div>
    </div>
  </nav>
</header>

<!-- boton que desliza para arriba -->
<span class="arriba bx bxs-up-arrow" id="arribaSpan" title="Arriba"></span>

<!-- Fin del boton que desliza para arriba -->

<main class="l-main">
  <!-- <section class="home" id="home">
    <div class="home_container tk_container tk-grid">
      
    </div>
  </section> -->

  <section class="hero__main container home" id="home">
    <figure class="hero__figure">
      <img src="../../../../assets/img/HydropadLogo.png" class="hero__img" />
    </figure>
    <article class="hero__texts">
      <h1 class="hero__title" style="font-size: 2em">
        <span class="ResaltadorAzul"><strong> HydroPad:</strong></span> Sistema
        Inteligente de Monitoreo de Calidad del Agua basado en IoT
      </h1>
      <p class="hero__paragraph">
        <span class="ResaltadorAzul"
          ><strong>Bienvenido a HydroPad</strong></span
        >
        , la compañía líder en soluciones inteligentes para el monitoreo de la
        calidad del agua basado en IoT (Internet de las cosas). Nuestro
        innovador sistema utiliza sensores avanzados de pH, temperatura y
        niveles de cloro para garantizar una supervisión precisa, asegurando que
        esté siempre lista para el consumo humano.
      </p>
      <p class="hero__paragraph">
        En HydroPad, estamos comprometidos con tu bienestar y tranquilidad.
        Únete a nuestra comunidad y disfruta del acceso sin precedentes al
        monitoreo inteligente de la calidad del agua en tu hogar.
        <span class="ResaltadorAzul" style="font-size: 1.5em"
          >¡Regístrate ahora y toma el control de tu agua!</span
        >
      </p>
      <div class="hero__buttons">
        <a class="LognIn" routerLink="/auth/login">
          <div>Iniciar Sesion</div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25px"
            height="25px"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M11.6801 14.62L14.2401 12.06L11.6801 9.5"
              stroke="white"
              stroke-width="2"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M4 12.0601H14.17"
              stroke="white"
              stroke-width="2"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M12 4C16.42 4 20 7 20 12C20 17 16.42 20 12 20"
              stroke="white"
              stroke-width="2"
              stroke-miterlimit="10"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
        </a>

        <a
          class="cssbuttons-io-button"
          (click)="scrollToSectionDesplzamiento('#appmovil')"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="20"
            height="20"
          >
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path
              fill="currentColor"
              d="M1 14.5a6.496 6.496 0 0 1 3.064-5.519 8.001 8.001 0 0 1 15.872 0 6.5 6.5 0 0 1-2.936 12L7 21c-3.356-.274-6-3.078-6-6.5zm15.848 4.487a4.5 4.5 0 0 0 2.03-8.309l-.807-.503-.12-.942a6.001 6.001 0 0 0-11.903 0l-.12.942-.805.503a4.5 4.5 0 0 0 2.029 8.309l.173.013h9.35l.173-.013zM13 12h3l-4 5-4-5h3V8h2v4z"
            ></path>
          </svg>
          <span style="font-family: 'Roboto', sans-serif"
            >Descargar Aplicacion Movil</span
          >
        </a>
      </div>
    </article>
  </section>

  <section class="about section tk-container" id="about">
    <div class="about_container tk-grid">
      <div class="about_data">
        <span class="section-subtitlePortafolio about_initial"
          >Descubre más sobre HydroPad</span
        >
        <h2 class="section-title about_initial">
          Monitoreo Inteligente de Calidad del Agua
        </h2>
        <p class="about_description">
          Somos un innovador sistema de monitoreo inteligente de la calidad del
          agua basado en IoT (Internet de las cosas). Nuestra tecnología utiliza
          sensores avanzados para garantizar que el agua que consumes en tu
          hogar esté siempre en las mejores condiciones para tu salud y
          bienestar.
        </p>
        <p class="about_description">
          Nuestro objetivo es brindarte una experiencia de usuario intuitiva y
          segura, asegurándonos de que siempre cuentes con agua de calidad en
          cada momento de tu vida diaria. Confía en HydroPad para cuidar tu
          agua, cuidar de ti y cuidar de nuestro planeta. ¡Descubre cómo podemos
          mejorar tu vida hoy!
        </p>
      </div>
      <div class="about_data">
        <img src="../../../../assets/img/grifo.gif" alt="" class="about_img" />
      </div>
    </div>
  </section>

  <!-- Hallazgo -->
  <section class="hallazgoAgua" id="hallazgoClaves">
    <div class="encabezadoHallazgo">
      <h2 class="h3 section-titless" style="text-align: center; font-size: 3em">
        Hallazgos <span class="ResaltadorAzul"> Claves </span>
      </h2>
      <br />
      <br />

      <p
        style="
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
            sans-serif;
        "
      >
        En la búsqueda constante por garantizar un acceso seguro y sostenible al
        agua de buena calidad, la sociedad enfrenta diversos desafíos que
        impactan directamente en nuestra salud, bienestar y el cuidado del medio
        ambiente. <span class="ResaltadorAzul"> Problemas como:</span>
      </p>
    </div>
    <div class="row1-container">
      <div class="box box-down cyan">
        <h2 class="subtitulohallazgo">Escasez de agua</h2>
        <br />
        <p>
          En momentos de escasez, la bomba de agua puede dañarse al extraer aire
          en lugar de agua, afectando su funcionamiento y dificultando aún más
          el acceso al recurso vital.
        </p>
        <br />
        <br />
        <img
          class="fotosHallazgo"
          src="../../../../assets/img/ProblemaConsumoAgua.png"
          alt=""
        />
      </div>

      <div class="box red">
        <h2>Contaminación del agua:</h2>
        <br />
        <p>
          La ingesta de agua contaminada puede causar enfermedades
          gastrointestinales, infecciones, problemas respiratorios y daños en
          órganos vitales.
        </p>
        <br />
        <br />
        <img
          class="fotosHallazgo"
          src="../../../../assets/img/aguacontaminada.png"
          alt=""
        />
      </div>

      <div class="box box-down blue">
        <h2>Desperdicio de agua</h2>
        <br />
        <p>
          El malgasto de agua no solo afecta nuestra disponibilidad de recursos
          hídricos, sino que también tiene un impacto negativo en el medio
          ambiente.
        </p>
        <br />
        <img
          class="fotosHallazgo"
          src="../../../../assets/img/WaterDesbordar.png"
          alt=""
        />
      </div>
    </div>
    <div class="row2-container">
      <div class="box orange">
        <h2>Alto consumo de Luz:</h2>
        <br />
        <p>
          El uso de dispositivos sin un control adecuado mantiene un alto
          consumo de luz. Sin una regulación adecuada, se desperdicia una
          cantidad considerable de energía eléctrica.
        </p>
        <br />
        <br />
        <img
          class="fotosHallazgo"
          src="../../../../assets/img/ConsumoLuz.png"
          alt=""
        />
      </div>
    </div>
  </section>

  <!-- Servicios que brindamos -->

  <section class="services section tk-container" id="services">
    <h2 class="h3 section-titless" style="margin: 0 auto; text-align: center">
      Nuestros Increibles <span class="ResaltadorAzul"> Servicios </span>
    </h2>
    <div class="services_container tk-grid">
      <div class="card">
        <div class="card__img">
          <img src="../../../../assets/img/calidadAgua.gif" alt="" />
        </div>
        <div class="card__descr-wrapper">
          <p class="card__title">Calidad Del Agua</p>
          <p class="card__descr">
            Recibirás notificaciones instantáneas sobre niveles anormales de pH,
            temperatura, nivel de cloro o la necesidad de reemplazar los
            filtros.
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card__img">
          <img src="../../../../assets/img/domotico.gif" alt="" />
        </div>
        <div class="card__descr-wrapper">
          <p class="card__title">Control Domótico</p>
          <p class="card__descr">
            Estableces el nivel deseado de agua y recibes alertas cuando esté
            lleno,vacío o inicie el proceso de llenado, brindándote control y
            evitando desperdicios.
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card__img">
          <img src="../../../../assets/img/RELOGWATER.gif" alt="" />
        </div>
        <div class="card__descr-wrapper">
          <p class="card__title">Personaliza tu experiencia</p>
          <p class="card__descr">
            Puedes programar rutinas automatizadas como Rutina de filtrado de
            agua, Rutina de mantenimiento, optimizando el uso de energía y
            brindando mayor comodidad en tu día a día.
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card__img">
          <img
            src="../../../../assets/img/fugaagua.gif"
            style="width: 16em; height: 16em"
            alt=""
          />
        </div>
        <div class="card__descr-wrapper">
          <p class="card__title">Alerta de Fugas</p>
          <p class="card__descr">
            Detecta y notifica al instante la presencia de fugas y toma acciones
            rápidas para evitar daños mayores mediante el Cierre automático de
            la válvula principal de agua .
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card__img">
          <img
            src="../../../../assets/img/reporte.gif"
            style="width: 16em; height: 16em"
            alt=""
          />
        </div>
        <div class="card__descr-wrapper">
          <p class="card__title">Reportes Diarios</p>
          <p class="card__descr">
            Recopilan y presentan de manera organizada todos los datos
            relevantes sobre la calidad del agua, niveles de pH, temperatura,
            nivel de cloro, eventos de fugas y flujo de agua registrados a lo
            largo del tiempo.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="app section tk-container" id="appmovil">
    <div class="app_container tk-grid">
      <div class="app_data">
        <span class="h3 section-title">App Movil</span>
        <h2 class="section-title app_initial">
          <span class="ResaltadorAzul"> Descarga la App Hydropad</span>
        </h2>
        <p class="app_description">
          Descarga la aplicación movil Hydropad y recibe notificaciones en
          tiempo real sobre la calidad del agua, control domótico, el nivel de
          suciedad del filtro y el asistente de voz de Google, te mantendremos
          informado en tiempo real sobre el estado de tu agua. Aprovecha la
          comodidad de controlar y programar horarios desde tu dispositivo
          móvil, brindándote una mayor facilidad y flexibilidad.
          <span class="ResaltadorAzul">
            ¡Descarga la aplicación ahora y disfruta de todas estas funciones a
            tu alcance!</span
          >
        </p>
        <div class="app_stores">
          <a class="playstore-button" href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="icon"
              viewBox="0 0 512 512"
            >
              <path
                d="M99.617 8.057a50.191 50.191 0 00-38.815-6.713l230.932 230.933 74.846-74.846L99.617 8.057zM32.139 20.116c-6.441 8.563-10.148 19.077-10.148 30.199v411.358c0 11.123 3.708 21.636 10.148 30.199l235.877-235.877L32.139 20.116zM464.261 212.087l-67.266-37.637-81.544 81.544 81.548 81.548 67.273-37.64c16.117-9.03 25.738-25.442 25.738-43.908s-9.621-34.877-25.749-43.907zM291.733 279.711L60.815 510.629c3.786.891 7.639 1.371 11.492 1.371a50.275 50.275 0 0027.31-8.07l266.965-149.372-74.849-74.847z"
              ></path>
            </svg>
            <span class="texts">
              <span class="text-1">Descargar</span>
              <span class="text-2">Google Play</span>
            </span>
          </a>
        </div>
      </div>

      <img
        style="width: 100em"
        src="../../../../assets/img/AppMobile.gif"
        alt="movil"
        class="app_img"
      />
    </div>
  </section>
  <!-- SOBRE MI -->
  <br />
  <!-- Creadores del Software -->
  <section class="about" id="creadores">
    <div class="creadores__texts">
      <h3 class="h3 section-title" style="margin: 0 auto; text-align: center">
        Nuestro Equipo de <span class="ResaltadorAzul"> Desarrollo </span>
      </h3>
    </div>
    <br />
    <br />
    <!-- partial:index.partial.html -->
    <div class="canvas-wrapper">
      <a href="#" class="canvas primerfoto">
        <div
          class="canvas_border"
          style="
            box-shadow: 0 2px 4px rgba(91, 194, 228, 0.9); /* Agrega una sombra a tu menú */
          "
        >
          <svg>
            <defs>
              <linearGradient
                id="grad-orange"
                x1="0%"
                y1="0%"
                x2="100%"
                y2="0%"
              >
                <stop
                  offset="0%"
                  style="stop-color: rgb(253, 137, 68); stop-opacity: 1"
                ></stop>
                <stop
                  offset="100%"
                  style="stop-color: rgb(8, 10, 81); stop-opacity: 1"
                ></stop>
              </linearGradient>
              <linearGradient id="grad-red" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="0%" stop-color="#D34F48"></stop>
                <stop offset="100%" stop-color="#772522"></stop>
              </linearGradient>
            </defs>
            <rect
              id="rect-grad"
              class="rect-gradient"
              fill="none"
              stroke="url(#grad-orange)"
              stroke-linecap="square"
              stroke-width="4"
              stroke-miterlimit="30"
              width="100%"
              height="100%"
            ></rect>
          </svg>
        </div>
        <div class="canvas_img-wrapperContenerdor">
          <img
            class="canvas_img"
            src="../../../../assets/img/FotoPerfil.png"
            alt=""
          />
        </div>
        <div class="canvas_copy canvas_copy--left">
          <span class="canvas_copy_subtitle">Developer</span>
          <strong class="canvas_copy_title">Donald</strong>
          <strong class="canvas_copy_title">Silva</strong>
          <span class="canvas_copy_details">donaldsilva01@gmail.com</span>
        </div>
      </a>
      <a href="#" class="canvas">
        <div
          class="canvas_border"
          style="
            box-shadow: 0 2px 4px rgba(91, 194, 228, 0.9); /* Agrega una sombra a tu menú */
          "
        >
          <svg>
            <defs>
              <linearGradient
                id="grad-orange"
                x1="0%"
                y1="0%"
                x2="100%"
                y2="0%"
              >
                <stop
                  offset="0%"
                  style="stop-color: rgb(253, 137, 68); stop-opacity: 1"
                ></stop>
                <stop
                  offset="100%"
                  style="stop-color: rgb(153, 75, 23); stop-opacity: 1"
                ></stop>
              </linearGradient>
              <linearGradient id="grad-red" x1="0%" y1="0%" x2="100%" y2="0%">
                <stop offset="0%" stop-color="#D34F48"></stop>
                <stop offset="100%" stop-color="#772522"></stop>
              </linearGradient>
            </defs>
            <rect
              id="rect-grad"
              class="rect-gradient"
              fill="none"
              stroke="url(#grad-orange)"
              stroke-linecap="square"
              stroke-width="4"
              stroke-miterlimit="30"
              width="100%"
              height="100%"
            ></rect>
          </svg>
        </div>
        <div class="canvas_img-wrapperContenerdor">
          <img
            class="canvas_img"
            src="../../../../assets/img/perfilPonce.png"
            alt=""
          />
        </div>
        <div class="canvas_copy">
          <span class="canvas_copy_subtitle">Developer</span>
          <strong class="canvas_copy_title">Kevin</strong>
          <strong class="canvas_copy_title">Ponce</strong>
          <span class="canvas_copy_details">Details and stuff</span>
        </div>
      </a>
    </div>
    <!-- partial -->
  </section>

  <br />
  <br />
  <br />
  <br />
  <!-- Seccion Contacto -->
  <section class="contact" id="contact">
    <div class="contact-content section-content">
      <p class="section-subtitle">Contact</p>

      <h2 class="h3 section-title">
        Tienes alguna consulta o problema que necesites resolver? <br />

        <span class="ResaltadorAzul"> Por favor, envíe un mensaje </span>
      </h2>

      <p class="section-text">
        Ponte en contacto y déjame saber cómo puedo ayudar. Rellena el
        formulario y me pondré en contacto lo antes posible.
      </p>

      <ul class="contact-list">
        <li class="contact-list-item">
          <div class="contact-item-icon">
            <i class="fa-sharp fa-solid fa-location-dot fa-beat"></i>
          </div>

          <div class="wrapper">
            <h3 class="h4 contact-item-title">Address:</h3>

            <address class="contact-info">
              Av.Rosita Paredes, Quevedo, Los Rios, Ecuador
            </address>
          </div>
        </li>

        <li class="contact-list-item">
          <div class="contact-item-icon">
            <i class="fa-sharp fa-solid fa-phone-volume fa-shake"></i>
          </div>

          <div class="wrapper">
            <h3 class="h4 contact-item-title">Phone:</h3>

            <p class="informacioncontact">(09) 845 432 20</p>
          </div>
        </li>

        <li class="contact-list-item">
          <div class="contact-item-icon">
            <i class="fa-solid fa-envelope fa-bounce"></i>
          </div>

          <div class="wrapper">
            <h3 class="h4 contact-item-title">Email:</h3>

            <a href="hydropad2023@gmail.com" class="informacioncontact"
              >hydropad2023@gmail.com</a
            >
          </div>
        </li>

        <li>
          <ul class="contac-social-list">
            <li>
              <a
                href="#"
                class="contact-social-link"
                style="background: #003566"
              >
                <div class="tooltip">Facebook</div>

                <i class="fa-brands fa-facebook"></i>
              </a>
            </li>

            <li>
              <a
                href="#"
                class="contact-social-link"
                style="background: #003566"
              >
                <div class="tooltip">Twitter</div>
                <i class="fa-brands fa-twitter"></i>
              </a>
            </li>

            <li>
              <a
                href="#"
                class="contact-social-link"
                style="background: #003566"
              >
                <div class="tooltip">Linkedin</div>

                <i class="fa-brands fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <form action="" class="contact-form">
      <div class="form-wrapper">
        <label for="name" class="form-label">Nombre</label>

        <div class="input-wrapper">
          <input
            type="text"
            name="name"
            id="name"
            required
            placeholder="e.g John Doe"
            class="input-field-Form"
          />
          <i class="fa-solid fa-user"></i>
        </div>
      </div>

      <div class="form-wrapper">
        <label for="email" class="form-label">Email</label>

        <div class="input-wrapper">
          <input
            type="email"
            name="email"
            id="email"
            required
            placeholder="e.g johndoe@mail.com"
            class="input-field-Form"
          />

          <i
            class="fa-solid fa-envelope interfazcobtact"
            style="color: #003566"
          ></i>
        </div>
      </div>

      <div class="form-wrapper">
        <label for="phone" class="form-label">Telefono</label>

        <div class="input-wrapper">
          <input
            type="tel"
            name="phone"
            id="phone"
            required
            placeholder="Numero Telefono"
            class="input-field-Form"
          />

          <i class="fa-solid fa-phone"></i>
        </div>
      </div>

      <div class="form-wrapper">
        <label for="message" class="form-label">Mensaje</label>

        <div class="input-wrapper">
          <textarea
            name="message"
            id="message"
            required
            placeholder="Escribe el mensaje..."
            class="input-field-Form"
          ></textarea>

          <i class="fa-solid fa-message"></i>
        </div>
      </div>

      <button type="submit" style="cursor: pointer" class="btn btn-primary">
        Enviar
      </button>
    </form>
  </section>
</main>

<!-- <footer class="footer section tk-container">Donald</footer> -->
