@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 3rem 0 0 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  background-color: #fbfefd;
  color: #707070;
  line-height: 1.6;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 2rem 0 2rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}
.section-title {
  font-size: 2.5rem;
  color: #393939;
  margin-bottom: 1.5rem;
}

.section-subtitlePortafolio {
  font-size: 3rem;
  display: block;
  color: #2987df;
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.tk-container {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.tk-grid {
  display: grid;
  gap: 1.5rem;
}

/* .l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fbfefd;
} */

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fbfefd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Agrega una sombra a tu menú */
}

.nav {
  max-width: 1024px;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_menu {
  display: none;
}

.nav_item {
  margin-bottom: 1rem;
}
.nav_link,
.nav_logo,
.nav_toggle {
  color: #707070;
  font-weight: 500;
}

/* Centrar la sección de introducción en la página */
.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 90rem;
  width: 100px;
  justify-content: center;
  align-items: center;
  height: 43em;
}
/* .home {
  width: 100px;
  height: 38rem;
  background-color: #00aaff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
} */

.home .image {
  flex: 1 1 45rem;
}

.home .image img {
  width: 100%;
}

.home .content {
  flex: 1 1 45rem;
}

.home .content h3 {
  font-size: 4.5rem;
  color: var(--black);
  line-height: 1.8;
  text-shadow: var(--text-shadow);
}

.home .content p {
  font-size: 1.7rem;
  line-height: 1.8;
  padding: 1rem 0;
}

/* SOBRE NOSOTROS */

/* .about_container .about_data {
  text-align: center;
} */

.about_description {
  margin-bottom: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: hsl(230, 5%, 45%);
}
.about_img {
  width: 480px;
  height: 480px;
  border-radius: 0.9rem;
  justify-self: center;
}

/* ESTRUCTURA DE MIS SERVICIOS */
.services_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
}

.services_content {
  width: calc(33.33% - 2.5rem);
  text-align: center;
  border: 2px solid navy; /* Ajusta el color y grosor del borde según tus preferencias */
}

.menu_container {
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.menu_content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
  padding: 0.75rem;
}
.menu_img {
  width: 100px;
  align-self: center;
  margin-bottom: 1rem;
}

.menu_name,
.menu_preci {
  font-weight: 600;
  color: #393939;
}
.menu_name {
  font-size: 0.938rem;
}
.menu_detail,
.menu_preci {
  font-size: 0.813rem;
}
.menu_detail {
  margin-bottom: 0.5rem;
}
.menu_preci {
  padding-bottom: 30px;
}

.menu_button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  padding: 10px 97px;
}

.app_data {
  text-align: center;
}
.app_description {
  margin-bottom: 2.5rem;
  color: hsl(230, 5%, 45%);
  font-family: "Roboto", sans-serif;
}
.app_stores {
  margin-bottom: 2rem;
}
.app_store {
  width: 120px;
}

.app_img {
  width: 230px;
  justify-self: center;
}

.contact_container {
  text-align: center;
}
.contact_description {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 576px) {
  .about_container,
  .app_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .about_data,
  .about_initial,
  .app_data,
  .app_initial,
  .container_container,
  .contact_initial {
    text-align: initial;
  }
  .about_img,
  .app_img {
    width: 380px;
    order: -1;
  }
  .contact_container {
    grid-template-columns: 1.75fr 1fr;
    align-items: center;
  }
  .contact_button {
    justify-self: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 8rem;
  }
  .nav {
    height: calc(3rem + 1.5rem);
  }
  .nav_menu {
    display: block;
  }
  .nav_list {
    display: flex;
  }
  .nav_item {
    margin-left: 2.5rem;
    margin-bottom: 0;
  }
  .nav_toggle {
    display: none;
  }
  .home_container {
    height: 100vh;
    justify-items: center;
  }
  .services_container,
  .menu_container {
    margin-top: 3rem;
  }
  .menu_container {
    grid-template-columns: repeat(3, 210px);
    column-gap: 4rem;
  }
  .menu_content {
    padding: 1.5rem;
  }
  .menu_img {
    width: 130px;
  }
  .app_store {
    margin: 0 0.5rem 0 0;
  }
}

@media screen and (min-width: 960px) {
  .tk-container {
    margin-left: auto;
    margin-right: auto;
  }
  .about_container,
  .app_container {
    column-gap: 7rem;
  }
}

@media screen and (min-width: 721px) {
  .home_container {
    height: 640px;
  }
}

@media screen and (max-width: 767px) {
  .about_container {
    padding: 10px;
  }
  .about_data {
    width: 100%;
  }
  .about_img {
    max-width: 100%;
    height: 80%;
  }

  .about_description {
    text-align: justify;
  }

  .section-subtitlePortafolio {
    text-align: center;
  }
}
