.playstore-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-radius: 9999px;
  background-color: rgb(31, 65, 188);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
}

.playstore-button:hover {
  background-color: transparent;
  color: rgb(0, 0, 0);
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-2 {
  font-weight: 600;
}

/* Header descargar App Movil */

.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 1.5em 0.8em 1.2em;
  color: white;
  background: #ff7d00;
  background: linear-gradient(
    0deg,
    rgba(255, 125, 0, 1) 0%,
    rgba(255, 95, 109, 1) 100%
  );
  border: 2px solid #ff7d00;
  border-radius: 20em;
}

.cssbuttons-io-button svg {
  margin-right: 8px;
}

.cssbuttons-io-button:hover {
  border-color: white;
  box-shadow: 0 0.5em 1.5em -0.5em #bf5800;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #bf5800;
}
