.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

h1:first-of-type {
  font-weight: 200;
  color: hsl(234, 12%, 34%);
}

h1:last-of-type {
  color: hsl(234, 12%, 34%);
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }
}

.encabezadoHallazgo {
  text-align: center;
  line-height: 0.8;
  margin-bottom: 50px;
  margin-top: 100px;
}

.encabezadoHallazgo p {
  margin: 0 auto;
  line-height: 2;
  color: hsl(230, 5%, 45%);
}

.box p {
  color: hsl(230, 100%, 99%);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.box {
  border-radius: 25px;
  box-shadow: 0px 30px 40px -50px hsl(229, 6%, 66%);
  padding: 30px;
  margin: 20px;
}

/* img {
  float: right;
} */

@media (max-width: 450px) {
  .box {
    height: 200px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
    text-align: center;
    height: 180px;
  }
}

.cyan {
  border-top: 3px solid hsl(180, 62%, 55%);
}
.red {
  border-top: 3px solid hsl(0, 78%, 62%);
}
.blue {
  border-top: 3px solid hsl(212, 86%, 64%);
}
.orange {
  border-top: 3px solid hsl(34, 97%, 64%);
}

h2 {
  color: hsl(230, 46%, 95%);
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

@media (min-width: 950px) {
  .row1-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row2-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-down {
    position: relative;
    top: 150px;
  }
  .box {
    width: 21%;
    background: blueviolet;
  }
  .encabezadoHallazgo p {
    width: 30%;
  }
}

/* Definir la animación */
@keyframes flotarImagenes {
  0%,
  100% {
    transform: translateY(0); /* Posición inicial y final */
  }
  50% {
    transform: translateY(-8px); /* Mover las imágenes 5px hacia arriba */
  }
}

/* Aplicar la animación a las imágenes */
.fotosHallazgo {
  width: 27em;
  animation: flotarImagenes 3s infinite; /* La animación se repetirá infinitamente durante 3 segundos */
}

/* Estilos generales */

/* ... (los estilos generales previos se mantienen aquí) ... */

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .hallazgoAgua {
    margin-top: 20px; /* Ajustar el margen superior en dispositivos móviles */
  }
  .row1-container,
  .row2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 90%;
    margin: 10px 0;
    background: blueviolet;
  }

  .box-down {
    top: 0;
  }

  .encabezadoHallazgo p {
    width: 100%;
  }

  .fotosHallazgo {
    display: none; /* Ocultar las imágenes en dispositivos móviles */
  }

  /* Mantener los colores de los cuadros */
}
