@media (max-width: 768px) {
  .services_img {
    width: 8em;
    height: 8em;
  }

  .services_container {
    justify-content: flex-start;
  }

  .card {
    width: 100%;
  }
}

.card {
  --font-color: #f9f9f9;
  --bg-color: #7d63f1;
  width: 250px;
  height: 430px;
  border-radius: 20px;
  background: var(--bg-color);
  box-shadow: -9px 9px 18px #5a5a5a, 9px -9px 18px #ffffff;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
  position: relative;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 2px #5a5a5a;
}

.card__img {
  width: 100%;
  height: 58%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  background-color: blueviolet;
}

.card__descr-wrapper {
  padding: 15px;
  display: grid;
  color: #ffffff;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
}

.card__title {
  color: var(--font-color);
  text-align: center;
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 16px;
}

/* Estilos generales */

/* ... (los estilos generales previos se mantienen aquí) ... */

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .services_container {
    justify-content: center; /* Centrar los elementos en dispositivos móviles */
    gap: 20px; /* Espaciado entre las tarjetas */
  }

  .card {
    width: 100%;
    height: auto; /* Altura automática para ajustarse al contenido */
    max-width: 250px; /* Ancho máximo de las tarjetas para evitar desbordamientos */
  }

  .card__img {
    height: 245px; /* Altura de la imagen en dispositivos móviles */
    background-color: blueviolet;
  }

  .card__descr-wrapper {
    padding: 15px;
    color: #ffffff;
    text-align: center;
  }

  .card__title {
    font-size: 14px; /* Tamaño de fuente más pequeño para dispositivos móviles */
  }
}
