.sidebar-menu > li > a:hover > .dropdown-icon {
  --color: #0652dd;
}

.sidebar-menu-dropdown-content {
  padding: 0;
  height: 0;
  overflow: hidden;
  transition: height 0.25s ease-in-out;
}

.submenupersonalizado {
  font-size: 0.9rem;
}

.sidebar-menu-dropdown-content > li > a {
  padding-left: 50px;
}

.sidebar-menu-dropdown .dropdown-icon {
  position: absolute;
  right: 15px;
}

.dropdown-icon {
  --size: 15px;
  height: 90em;
  width: 20px;
  position: relative;
  left: 8rem;
  cursor: pointer;
}

.dropdown-icon::after,
.dropdown-icon::before {
  --height: 2px;
  content: "";
  width: 50%;
  height: 2px;

  border-radius: 2.5px;
  position: absolute;
  top: calc(50% - 1px / 2);
  background-color: #127fba;
  transition: transform 0.3s ease;
}

.dropdown-icon::before {
  left: calc(50% - 2px / 3);
  transform-origin: center left;
  transform: rotate(-45deg);
}

.dropdown-icon::after {
  right: calc(50% - 2px / 3);
  transform-origin: right;
  transform: rotate(45deg);
}

.dropdown-icon.active::before {
  transform: rotate(45deg);
}

.dropdown-icon.active::after {
  transform: rotate(-45deg);
}
.sidebar-menu-dropdown {
  position: relative;
}
